@import "variables.styl"

html
  font-size: 62.5%

body 
  font-family: font-family
  color: #404040
  background-color: color-bg
  overflow-x: hidden

h1
  font-size: 2em
  margin: .67em 0
h2
  font-size: 1.5em 
  margin: .75em 0
h3
  font-size: 1.17em 
  margin: .83em 0 
h5
  font-size: .83em 
  margin: 1.5em 0 
h6
  font-size: .75em
  margin: 1.67em 0
h1, h2, h3, h4, h5, h6
  font-weight: bolder
  font-family: font-family

ul, ol
  margin: 0
  padding: 0
  list-style-type: none

nav
  position: fixed
  top: 0
  left: 0
  width: 100%
  z-index: 999
  background-color: color-primary
  height: 5rem
  line-height: 5rem
  vertical-align: middle
  a
    text-decoration: none
    color: #fff
    &.title 
      font-size: 3rem
      font-weight: 600
      padding: 0 1.5em
      &:hover
        color: #FAFAFA

  ul
    float: right
    font-weight: 300
    li
      display: inline
      a
        text-transform: uppercase
        font-size: 12px
        line-height: 20px
        font-weight: 800
        letter-spacing: 1px
        padding: 15px 10px

header.site-heading
  margin-top: 5rem
  color: white
  height: 330px
  background-color: color-primary
  background-repeat: no-repeat 
  background-position: center
  background-origin: border-box
  background-size: 100% auto
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  text-align: center


.post-preview
  a
    text-decoration: none
    h2.post-title 
      font-size: 2.1rem
      line-height: 1.3
      margin-top: 3rem
      margin-bottom: 0.8rem  
      color: color-font-primary
    &.hover h2.post-title 
      color: #0085a1
    h3.post-subtitle 
      font-size: 1.5rem
      line-height: 1.3
      margin: 0
      font-weight: 300
      margin-bottom: 1rem
    .post-content-preview 
      font-size: 1.3rem
      font-style: italic
      color: color-font-secondary
