@import "variables.styl"

section.post-heading
  background-color: transparent
  color: color-font-primary
  margin: nav-height auto 0 auto
  padding: 1rem 0
  width: 750px
  border-bottom: 1px solid gray100
  ul.tags
    li
      display: inline

    