<!-- Post Header -->
<style type="text/css">
    .site-heading {
        <% if (is_home()) { %>
            background-image: url('<%= config.root + config["header-img"] %>') 
            /*config*/
        <%} else if (is_post()){%>
            background-image: url('<%= page["header-img"] %>')
            /*post*/
        <%} else {%>
            background-image: url('<%= config.root + page["header-img"] %>')
            /*page*/
        <%} %>
    }
</style>

<% if (!is_post()) { %>
  <header class="site-heading">
    <!--<hr class="small">-->
    <h1 class="subheading"><%= page.description || config.subtitle || "" %></h1>
  </header>
  <% } %>
