@import "variables.styl"
@import "archive.styl"
@import "heading.styl"
@import "tags.styl"
@import "sidebar.styl"
@import "footer.styl"
@import "code.styl"

* 
  box-sizing: border-box

html
  font-size: 62.5%
  font-weight: 400
  width: 100%
  margin: 0
  padding: 0

body 
  width: 100%
  margin: 0
  margin-top: nav-height
  padding: 0
  font-family: font-family
  color: color-font-primary
  background-color: gray100
  overflow-x: hidden

h1
  font-size: 2em
  margin: .67em 0
h2
  font-size: 1.5em 
  margin: .75em 0
h3
  font-size: 1.17em 
  margin: .83em 0 
h5
  font-size: .83em 
  margin: 1.5em 0 
h6
  font-size: .75em
  margin: 1.67em 0
h1, h2, h3, h4, h5, h6
  font-weight: 400
  font-family: font-family

a
  color: color-primary
  &:visited
    color: color-primary 
  &:hover
    color: color-primary-dark

hr    
  height: 1px
  background-color: gray200
  margin-top: 1em
  border-width: 0
  outline: none

ul.normal, ol.normal
  margin: 0
  padding: 0
  li
    list-style-type: none
ul.inline, ol.inline 
  margin: 0
  padding: 0
  li 
    list-style-type: none
    display: inline

nav
  position: fixed
  top: 0
  left: 0
  width: 100%
  z-index: 999
  background-color: color-primary-dark
  height: nav-height
  line-height: nav-height
  vertical-align: middle

  & > i.remind 
    display: none
  a
    text-decoration: none !important
    color: white
    &:hover
      color: gray600
    &:visited
      color: white
    &.title 
      font-size: 2.5rem
      font-weight: 600
      padding: 0 1.5em
      
  ul
    float: right
    &:after 
      content: ""
      display: table
      clear: both
    li
      display: inline-block
      a
        display: inline-block
        text-transform: uppercase
        font-size: 1.2rem
        line-height: 2em
        font-weight: 600
        letter-spacing: 1px
        padding: 1em 1.2em

@media all and (max-width: 768px)
  nav
    font-size: 3rem
    padding: 0 0.5em
    text-align: center
    & > i.remind
      display: inline-block
      position: absolute
      left: 0.5em
      font-size: 1em
      line-height: nav-height
      width: 1em
      height: 1em
      color: white
      background-color: transparent
    a.title
      text-align: center 
    ul 
      display: none
      &.visible
        display: block
        display: inline-block
        position: absolute
        top: nav-height
        left: 0.5em
        color: color-primary
        background-color: white
        box-shadow: 0 1px 5px gray100
        li
          display: block
          line-height: 1em
          text-align: left
        a
          line-height: 1.5
          color: color-primary
          &:hover
            color: color-primary
          &:visited
            color: color-primary


.container 
  position: relative
  display: flex
  justify-content: space-around

  @media all and (max-width: 768px)
    flex-direction: column
    justify-content: flex-start
    align-items: center
      
    main, .post-container 
      width: 100%
      order: -2
      padding: 0 2rem
      & > header
        &.header-img
          height: 30vh
          margin: 0 -2rem
          padding: 0 2rem

  @media all and (orientation: landscape) and (max-width: 768px)
    main, .post-container
      & > header 
        &.header-img
          height: 100vh
      

.post-preview
  a
    text-decoration: none
    .post-title
      font-size: 1.8rem
      line-height: 1.3
      margin-top: 3rem
      margin-bottom: 0.8rem
      color: color-primary-dark
      & > span 
        visibility: hidden
    .post-subtitle 
      font-size: 1.4rem
      font-weight: font-weight-content 
      line-height: 1.3
      margin: 0
      margin-bottom: 1rem
      color: color-primary-dark
    &.hover
      .post-title
        color: color-primary-light
        & > span 
          visibility: visible
      .post-subtitle
        color: color-primary-light
    .post-content-preview
      font-size: 1.3rem
      font-weight: font-weight-content 
      font-style: italic
      color: color-font-secondary
  .post-meta
    font-size: 1.2rem
    font-weight: font-weight-content


figure.highlight
  margin: 0