@import "variables.styl"

ul.tags 
  li 
    display: inline

header.post-heading
  margin-top: nav-height
  color: color-font-primary
  padding: 2em 1rem

header.site-heading
header.post-heading.header-img
  margin-top: nav-height
  color: white
  height: calc(40vh)
  background-color: color-primary
  background-repeat: no-repeat 
  background-position: center
  background-origin: border-box
  background-size: cover
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  text-align: center

@media all and (max-width: 768px)
  header.site-heading
  header.post-heading.header-img
    height: calc(100vw * (853/1280))