@import "variables.styl"
@import "functions.styl"

header-style()
  color: white
  height: calc(50vh)
  position: relative
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  text-align: center

header.site-heading
  header-style()
  & > * 
    position: relative
  &::before
    bg-img()