@import "variables.styl"

nav
  position: fixed
  top: 0
  left: 0
  width: 100%
  z-index: 999
  background-color: color-primary-dark
  height: nav-height
  line-height: @height
  vertical-align: middle

  & > i.remind 
    display: none
  a
    text-decoration: none !important
    color: white
    &:hover
      color: gray600
    &:visited
      color: white
    &.title 
      font-size: 2.5rem
      font-weight: 600
      padding: 0 1.5em
      
  ul
    float: right
    &:after 
      content: ""
      display: table
      clear: both
    li
      display: inline-block
      a
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        text-transform: uppercase
        font-size: 2rem
        line-height: 1.5
        font-weight: 600
        letter-spacing: 1px
        padding: 0 1.2em
        span 
          font-size: 1rem

@media all and (max-width: 768px)
  nav
    font-size: 3rem
    padding: 0 0.5em
    text-align: center
    & > i.remind
      display: inline-block
      position: absolute
      left: 0.5em
      font-size: 1em
      line-height: nav-height
      width: 1em
      height: 1em
      color: white
      background-color: transparent
    a.title
      text-align: center 
    ul 
      display: none
      &.visible
        display: block
        display: inline-block
        position: absolute
        top: nav-height
        left: 0
        color: white
        background-color: color-primary
        box-shadow: 0 1px 5px color-primary
        li
          display: block
          line-height: 1em
          text-align: left
        a
          line-height: 1.5
          flex-direction: row
          justify-content: left
          padding: 0
          margin: 0.5em
          &:hover
            color: white
          &:visited
            color: white

          i
            width: 1.2em
          span 
            margin-left: 0.5em