@import "variables.styl"

ul.pager
  font-size: 1.3rem
  font-weight: 400
  letter-spacing: 1
  line-height: 2

article
  img
    max-width: 100%
    padding: 1em 0
    box-shadow: 0 0 4px gray500
  

    