@import "variables.styl"
@import "functions.styl"

.post-container
  width: main-width
  padding: 2em 2em 1em 2em
  display: flex
  flex-direction: column

  & > header 
    position: relative
    &.header-img
      color: white
      height: 50vh
      display: flex
      flex-direction: column
      justify-content: center
    & > *
      position: relative
    &::before
      content: ""
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      filter: brightness(0.7)
      background-repeat: no-repeat 
      background-position: center
      background-origin: border-box
      background-color: gray100
      background-size: cover

  article
    border-top: 1px solid gray200
    font-size: 1.3rem
    line-height: 1.5
    blockquote
      margin: 0
      padding: 0.1rem 1rem
      border-left: 1rem solid gray300
      color: color-font-secondary
    strong 
      color: pink500
      font-weight: 500
      background-color: gray200
      padding: 0 0.3em
      margin: 0 0.3em
    a
      padding: 0 0.5em
      text-decoration: none
      &:hover
        text-decoration: underline
    img
      max-width: 100%
      padding: 0
      box-shadow: 0 0 4px gray500
    ol,ul
      margin: 0
      padding: 1em
      
  section.meta 
    color: color-primary-dark
    font-size: 1.5rem
    line-height: 2
    margin-top: 2em

  ul.pager
    font-size: 1.4rem
    margin: 2em 0
    padding: 0
    font-weight: 400
    letter-spacing: 1
    line-height: 2
    display: flex
    justify-content: space-between
    li
      display: inline
      list-style-type: none
      border: 1px solid gray200
      padding: 1em 2em
      cursor: pointer
      a
        text-decoration: none
      &:hover
        background-color: gray200
        border-color: gray300