@import "variables.styl"
@import "functions.styl"
  
ul.tags, ol.tags
  no-margin-padding()

  li 
    display: inline
    word-break: break-all
    a
      font-size: 1.2rem
      text-decoration: none
      border-radius: 1em
      color: color-font-primary
      border: 1px solid pink200
      padding: 0.2em 0.5em