@import "variables.styl"
@import "functions.styl"
  
.tags
  no-margin-padding()
  font-size: 1.2rem
  a
    line-height: 2
    word-break: keep-all
    text-decoration: none
    border-radius: 1em
    color: color-font-primary
    border: 1px solid pink200
    padding: 0.1em 0.4em